body {
  margin: 0;
  padding: 0;
}

.container{ 
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 20px 0;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.42;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.tooltip::before {
  color: black;
  z-index: 1;
  padding: 6px 12px;
  border-radius: 10px;
  position: absolute;
  background: hsla(45, 82%, 64%, .9);
  content: attr(data-tooltip);
  top: 100%;
  left: 0;
  display: none;
}

.tooltip:hover::before {
  display: block;
  
}